
@{
    ViewData["Title"] = "IndexMain";
}

<div class="row">

    @foreach (var item in cl._ListContractType(User._getuserSalMaliDef()))
    {

      <div class="col">
        
        <div class="card">
            <h4 class="card-title"></h4>  
            <div class="card-body"></div>
        </div>    
        <a asp-action="">contents</a>
    </div> 

    }
</div>
<div></div>