@model web_sard.Models.tbls.location.location

@{
    ViewData["Title"] = (Model.Id==Guid.Empty?"ساختن ":"ویرایش ")+(Model.Kind==1?"فاز(سردخانه)":Model.Kind==2?"سالن":"ردیف");
}
  
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">

                عنوان P: @(Model.ptitle ?? "ندارد") <br />

                نوع:
                @Model.Kind @(Model.Kind == 1 ? "فاز(سردخانه)" : Model.Kind == 2 ? "سالن" : "ردیف") <br />


            </div>

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wight" class="control-label"></label>
                <input asp-for="wight" class="form-control" />
                <span asp-validation-for="wight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtcodeAnbar" class="control-label"></label>
                <input asp-for="OtcodeAnbar" class="form-control" />
                <span asp-validation-for="OtcodeAnbar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

