@model web_sard.Models.tbls.user.login
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - کنترل سردخانه</title>
    <meta name="theme-color" content="rgba(216,204,204,0)">
    <meta name="description" content=" نرم افزار مدیریت و کنترل سردخانه SP">
    <link rel="icon" type="image/png" sizes="undefinedxundefined" href="~/assets/img/5491974.png">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="~/manifest.json">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    <link href="~/assets/rtl.css" rel="stylesheet" />
    <style>
        body {
            background-color: #fafafa !important;
            background-image: url('/assets/img/bg/b1.jpg');
            background-repeat: space;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
</head> 
<body dir="rtl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="        background-image: url('../assets/img/sror-Logo2.png');"></div>

                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">خوش آمدید! </h4>
                                    </div>
                                    <form class="user" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group"><input class="form-control form-control-user" type="text" placeholder="نام کاربری" asp-for="username"></div>
                                        <div class="form-group"><input class="form-control form-control-user" type="password" placeholder="رمز عبور" asp-for="password"></div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" asp-for="remember"><label class="form-check-label custom-control-label" for="remember">به یاد داشته باش</label></div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">ورود</button>
                                        @*<hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>*@
                                        <hr>
                                    </form>
                                    @*<div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                                        <div class="text-center"><a class="small" href="register.html">Create an Account!</a></div>*@

                                    @if (string.IsNullOrWhiteSpace(ViewBag.error) == false)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>خطا!</strong> @ViewBag.error
                                        </div>

                                    }
                                    <h5>
                                        نرم افزار مدیریت و کنترل سردخانه SROR
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/jquery.easing.js"></script>
    <script src="~/assets/js/theme.js"></script>

</body>

</html>