
@{
    ViewData["Title"] = "تغییر رمز";
}

<h1>تغییر رمز</h1>
<form asp-action="RePassword" asp-controller="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label">رمز عبور </label>
        <input name="password" type="password" class="form-control" required />
    </div>
    <div class="form-group">
        <label class="control-label">رمز عبور جدید </label>
        <input name="newPassword" type="password" class="form-control" required />
    </div>
    <div class="form-group">
        <label class="control-label">تکرار رمز عبور جدید </label>
        <input name="reNewPassword" type="password" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="ثبت" class="btn btn-primary" />
    </div>
</form>
