@model web_db._temp.TblTemp

@{
    ViewData["Title"] = "روز جدید";
}

  
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="FkuserTaiid" type="hidden" />
            <input asp-for="FkuserAdd" type="hidden" />
            <input asp-for="FkSalMali" type="hidden" />

            <div class="form-group">
                <label asp-for="_Date" class="control-label"></label>
                @Html._DatePicker("_Date", Model.Date.ToPersianDate(), true, "form-control")
                @*<input asp-for="_Date" class="form-control" />*@
                <span asp-validation-for="_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Txt" class="control-label"></label>
                <input asp-for="Txt" class="form-control" />
                <span asp-validation-for="Txt" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (Model.FkuserTaiid.HasValue==false)
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت به صفحه اصلی</a>
</div>

