@model web_sard.Models.tbls.car.car
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>injury</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDel" /> @Html.DisplayNameFor(model => model.IsDel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PriceTowBascol" class="control-label"></label>
                <input asp-for="PriceTowBascol" value="@Model.PriceTowBascol.ToString("######.##")" class="form-control" />
                <span asp-validation-for="PriceTowBascol" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <label asp-for="Img" class="custom-file-label "></label>
                <input asp-for="Img" class="custom-file-input" lang="fa" accept="image/x-png ,image/jpeg" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
