@{
    ViewData["Title"] = "Home Page";
}

 
 

<div class="text-center mb-5">
    <h1 class="mb-3" >معرفی کوتاه</h1>
    <p>
        شرکت مجتمع صنعتی میوه طلایی مکریان مهاباد با تکیه بر تکنولوژی ، تجارب و دانش فنی روز و با استفاده از نیروهای متخصص و ماهر در راستای تکمیل زنجیره ی تولید و رفع نیازهای روز افزون جامعه در سال 1396 در زمینی با مساحت 80.000 متر مربع ، فاز اول سردخانه 20.000 تنی خود را در استان آذربایجان غربی شهرستان مهاباد راه اندازی نمود
    </p>
</div>

<div class="text-center mb-5">
    <h3 class="mb-3">خدمات ما</h3>
    <div class="row">
        <div class="col-1 col-sm">
            سردخانه و حفاظت از میوه
        </div>
        <div class="col-1 col-sm">
            سموم باغی و گیاهی
        </div>
        <div class="col-1 col-sm">
            جعبه و بسته بندی میوه
        </div>
    </div>
   
</div>