@model string[]
@{
    Layout = null;


}

<button type="button" class="btn @Model[2] w-100  " data-toggle="modal" onclick="setupsign('@Model[0]','@Model[1]')" data-target="#signP">
    @Model[1]
</button>


 